/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset.scss";
@import "compass/layout.scss";
@import "base";

@include sticky-footer(100px, ".cont", "#layout_footer", "#footer");

header{
    position:relative;
    z-index: 100000;
    border-bottom: 1px solid silver;
    width:auto;
    background-color: white;
    h1{
        width:30%;
        float:left;
        a{
            font-weight: bolder;
            border:none;
            display:inline-block;
            padding:0.5em 0;
        }
    }
}

#trajet{
    display:none;

}

#race-map { 
          height: 25em;
          width: auto; 
          border:0.3em solid silver;
          @include box-sizing(border-box);
      }
#elevation_chart{
    width:auto;
    display:block;
    border-left:0.3em solid silver;
    border-right:0.3em solid silver;
    border-bottom:0.3em solid silver;
    @include box-sizing(border-box);
}


.hidden{
    position:absolute;
    display:none;
}

.top:after{
    content:"";
    display:block;
    clear:both;
}
body{
    background-image: url(../img/ticks.png);
}

html{
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.4em;
    a{
        color:black;
        text-decoration: none;
        border-bottom: 1px dotted black;
    }    
    a:hover{
        color:rgb(244,129,64);
    }

    
    p{
        margin-bottom: 0.8em;
        color: rgb(80,100,100);
    }
}

h1      { font-size: 2em;}
h2      { font-size: 1.5em;}
h3      { font-size: 1.17em;}
h4      { font-size: 1em;}
h5      { font-size: 0.83em;}
h6      { font-size: 0.75em;}

.content{
    @include container($total-columns, $mobile, $tablet, $computer, $largeComputer);
    //@include susy-grid-background;
}

.cont{
    margin-top: 6em;
    .container{
        padding:1em;
        position:relative;
        border:1px solid rgb(244,129,64);
        @include box-sizing('border-box');
    }
}


[type="submit"], .button{
    background-color: rgba(144,161,191,0.6);
    border:none;
    cursor: pointer;
    padding:0.2em 0.5em 0.2em;
    font-size: 1em;
    border-radius: 0.3em;
    transition: all 0.5s;
    color:white;
    display:inline-block;
}
[type="submit"]:hover, .button:hover{
    background-color: rgba(144,161,191,1);
    color:white;
}

h1,h2,h3,h4,h5,h6{font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }

.container{
    padding:0;
    margin:auto;
    width:1483px;
    background-color: white;
    transition: all 0.3s;
}
.container:after{
    content:"";
    display:block;
    clear:both;
}

section{
    color:black;
    width:100%;
    @include box-sizing(border-box);
    margin-bottom: 5em;
}



/////////----------------------------------------------------------------------------------
/////////Connexion home  ------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.user{
    @include span-columns(6 omega,10);
    padding-top:1em;
}

[id="flash_notice"] span{
    padding:0.3em;
    position:absolute;
}

.userConnexion{
    text-align: right;
    position:relative;
    box-sizing: border-box;
    color:black;
    a{
        color:black;
    }
    input{
        @include span-columns(2.5,3);
        box-sizing: border-box;
    }
    h3:first-child{border:none;}
    h3{
        cursor: default;
        display:inline-block;
        margin-bottom: 0.5em;
        border-left: 0.2em solid #FF7C00;
        a{
            border:none;
            color:black;
            background-color: rgba(255,255,255,0.95);
            padding:0.6em;
            display:inline-block;  
        }
        a:hover{
            background-color:rgba(1, 147, 154,0.9);
            color:white;
        }
        
    }
    h3:hover+form, form:hover{
        opacity:1;
        height:auto;
        display: block;
        padding-left: 12%;
        box-shadow: 0px 0px 8px;
    }

    form{
        background-color: white;
        padding:0.6em;
        position:absolute;
        display: none;
        opacity:0;
    }
}

[type="text"],[type="password"]{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.2em;
    padding:0.4em;
    margin-top: 0.6em;
    color:black;
}

input:focus{
border: 1px solid #FF7C00;
}

.userConnexion:hover{
    >h3{
        // border-top-left-radius: 0.5em;
        // border-top-right-radius: 0.5em;
        // border-bottom-left-radius: 0em;
        // border-bottom-right-radius: 0em;
    }
}




/////////----------------------------------------------------------------------------------
/////////Menu de navigation  --------------------------------------------------------------
/////////----------------------------------------------------------------------------------




nav{
    color:rgb(61,28,0);
    a{
        color:rgb(61,28,0);
        border:none;
    }
}
nav:after{
    content:"";
    display:block;
    clear:both;
}


.primary{
    width:70%;
    float:right;
    >li{
        position:relative;
        width:25%;
        z-index: 10000;
    }
    li{
        display:inline-block;
        border-right: 1px solid silver;
        @include box-sizing(border-box);
    }
    >li:first-child{
        border-left: 1px solid silver;
    }
    a{
        text-align: center;
        padding:1.5em;
        display:block;
    }
    a:hover{
        color:white;
        text-shadow: 0px 0px  3px black;
        background-color: rgba(10,10,10,0.1);
        -moz-box-shadow: inset 0 0 5px #888;
-webkit-box-shadow: inset 0 0 5px#888;
box-shadow: inner 0 0 5px #888;
    }


    >li:hover{
        background-color: rgba(10,10,10,0.1);
        -moz-box-shadow: inset 0 0 5px #888;
        -webkit-box-shadow: inset 0 0 5px#888;
        box-shadow: inner 0 0 5px #888;
    }
}


.secondaryNav{
    position:absolute;
    top:-3em;
    left:-1px;
    li{
        display:inline-block;
        >a{
            text-decoration: none;
            display:inline-block;
            margin-right: 1em;
            padding:0.76em;
            background-color: rgb(230,230,230);
            border:1px solid silver;
            border-bottom:1px solid rgb(244,129,64);
            transition: background-color 0.5s;
        }
    }

    a:hover{
        background-color: white;
        border-color: rgb(244,129,64);
        color:black;
    }
    .selected a{
        border-color: rgb(244,129,64);
        border-bottom: 1px solid white;
        background-color: white;
    }

}

/////////----------------------------------------------------------------------------------
/////////Footer ---------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

footer{
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid silver;
    width:100%;
    background-color: white;
    div{
        margin-bottom: 0;
    }
}



/////////----------------------------------------------------------------------------------
/////////Liste des courses ----------------------------------------------------------------
/////////----------------------------------------------------------------------------------

h2{
    padding: 0.5em 0 0.8em;
    position:relative;
}


.race:after{
    content:"";
    display:block;
    clear:both;
}
.list{
    color:black;
}

.name{
    width:30%;
}

.coords{
    width:60%;
    padding:0 5%;
    float:right;
    h3{
        display:inline-block;
        margin-bottom: 0.5em;
    }
}

.logo{
    width:17%;
    margin-left: 2%;
    img{
        max-width: 100%;
        border:1px solid silver;
    }
}

.date{
    width:20%;
}


.description{
    width:30%;
    p{
        padding: 0 1em 0 0;
    }
}

.location{
    width:10%;
}

.link{
    width:10%;
}

.raceMonth .month {
    display: inline-block;   
}
.nextMonth{
    float: right;
}
.monthNav{
    padding-bottom:0.5em;
}
.monthNav:after{
    content:"";
    display:block;
    clear:both;
}

.monthWrap a.ancre{ display: none; } 
.raceMonth{ 
            transition: all 1s ease;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
    position: absolute;   /*on sort l'élément du flux*/
    top: 0;               /*on le positionne précisément dans ...*/
    left: 0;              /*l'angle haut gauche de son parent positionné*/
    width: 200%;         /*ou 300% car 3 éléments*/
    margin: 0;            
    padding: 0;     } 
.monthWrap a#wrap1:target ~ .raceMonth{ left: 0px; } 
.monthWrap a#wrap2:target ~ .raceMonth{ left: -100%; } 
.monthWrap {
    position: relative;    /*le parent positionné*/
    width: auto;          /*limite en largeur (1 élément du slideshow)*/
    height: 1000px;         /*limite en hauteur*/
    overflow: hidden;/*on cache ce qui déborde*/
}

.month{
    float:left;
    margin:0;
    width:50%;
    >h3{
        text-align: center;
        padding:0.5em;
        color:black;

    }
    li{
        width:auto;
        position:relative;
        padding: 1em 0;
        border-bottom: 1px solid silver;
        transition: background-color 0.3s;
        div{
            float:left;
        }
    }
    li:hover{
        background-color: rgba(120,120,120,0.1);
    }
    li:first-child:hover{
        background-color: transparent;
    }
    li:after{
        content:"";
        display:block;
        clear:both;
    }
}

.month:after{
    content:"";
    display:block;
    clear:both;
}


/////////----------------------------------------------------------------------------------
/////////Formulaire de recherche de course ------------------------------------------------
/////////----------------------------------------------------------------------------------

.find{
    margin-top:  2em;
    color:black;
    form{
        //padding-left: 10%;
        ul li:after{
            content:"";
            display:block;
            clear:both;
        }

        ul li{
            position:relative;
        }
    }
    label{
        @include span-columns(1.5,4.5);
    }
    select{
        @include span-columns(3 omega,4.5);
    }
    select:hover{
        cursor:pointer;
    }
    input, textarea{
        @include span-columns(3 omega ,4.5);
        margin-top: 0;
        @include box-sizing(border-box);
    }

}

form.particip{
    display:inline-block;
    input.particip{
        width: auto;
        float:none;
        margin:0;
        padding: 0.3em;
    }
}

.errors{
    color:red;
    position:absolute;
    left:102%;
    display:block;
    text-align: left;
    width:20em;
}

.find:after{
    content:"";
    display:block;
    clear:both;
}

label{
    text-align: right;
    padding:0.35em 0;
    margin-bottom: 0.6em;
    @include box-sizing(border-box);
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    margin:0;
    font-size: 1em;
    border:none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 0.5em;
    @include box-sizing(border-box);
    padding:0.5em;
    background: url(../img/arrow.png) no-repeat right #eee;
    margin-bottom: 0.6em;
}
select:hover{
    cursor:pointer;
}

[type="text"],[type="password"],textarea{
    @include box-sizing(border-box);
    -webkit-appearance: none;
        -moz-appearance: none;
    background-color: transparent;
    border: 1px solid silver;
    border-radius: 0.5em;
    color:black;
    font-size: 1em;
    padding:0.6em;
    margin-bottom: 0.6em;
}

input[type="date"]{
    -webkit-appearance: none;
        -moz-appearance: none;
        margin:0;
        font-size: 1em;
        border:none;
        border-radius: 0.5em;
        background-color: #eee;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        @include span-columns(3 omega,4.5);
        padding:0.5em;
        margin-bottom: 0.6em;
}

.left{
    margin-left: 10%;
    @include span-columns(4,10);
}

.right{
    @include span-columns(4,10);
}

.login{
    .left{
        @include span-columns(5,10);
        margin-left:25%;
        label{
            padding:0.55em 0;
            margin-bottom: 0.6em;
        }
    }
}

.results li{
    margin: 0.2em 0 0.5em;
}
/////////----------------------------------------------------------------------------------
/////////Profil ---------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------


.achievement{
    width:30%;
    float:right;
    margin-left: 0;
    @include box-sizing(border-box);
    padding-top: 1em;
    ul li{
        width:30%;
        display:inline-block;
        margin:0 3% 2% 0;
        figure img{
            width:100%;
            max-width: 100%;
        }
    }
}

.user{
    float:left;
    width:70%;
    @include box-sizing(border-box);
    padding-right: 1em;
    figure img{
        max-width: 100%;
        border: 0.3em solid silver;
    }
}

.thumbLink{
    width:20%;
    float:left;
    figure{
        margin-bottom: 1em;
    }
}

.userDescription{
    @include box-sizing(border-box);
    width:80%;
    float:right;
    padding:1em;
    position:relative;
    border-left:0.3em solid rgb(244,129,64);
}
 

.userDescription:before { 
content:""; 
position:absolute;
top:25px; 
left:-16px;

/* taille */ 
/* les bordures */ 
border-width: 1em 1em 1em 0;
border-color: transparent rgb(244,129,64);
border-style: solid;
}

.activities:before{
    content:"";
    display:block;
    clear:both;
}









/////////----------------------------------------------------------------------------------
/////////News -----------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------


.news{
    h2{
        margin-bottom: 1em;
    }
    .bigNews{
        width:60%;
        float:left;
        margin-right: 3%;
        figure img{
            @include span-columns(2,6);
                max-width: 100%;
            margin-top: 0.3em;
        }
    }
    article{
        display:inline-block;
        @include box-sizing(border-box);
        border:none;
        margin-bottom: 2.04082%;
        transition: background-color, 0.5s;
        h3{
            margin-bottom: 0.8em;
            position:relative;
            padding:0.5em;
            border-bottom: 1px solid silver;
            span{
                float: right;
                font-size: 0.8em;
            }
        }
        h3:hover{
            background-color: rgba(0,0,0,0.1);
            color:black;
            span{color:white;}
        }
        width:37%;
        float:right;
        figure img{
            @include span-columns(2,4);
            max-width: 100%;
            margin-top: 0.3em;
            margin-bottom: 3%;
            border: 0.3em solid white;
            box-shadow: 0px 0px 8px rgb(160,160,160);
        }
    }
}
.news:after{
    content:"";
    display:block;
    clear:both;
}


section.list{
    .big{
        width: 70%;
        float:left;
        article{
            width:100%;
            margin-bottom: 4em;
            figure{
                width:30%;
            }
        }
    }
    aside{
        h3, h4{
            margin-bottom:0.3em;
        }
        h4{
            margin-top: 2em;
        }
        width: 25%;
        float:right;
        article{
            width:100%;
        }
        ul li{
            padding-left: 0;
            transition: padding-left 0.5s;
            margin-bottom: 0.3em;
        }
        ul li:hover{
            padding-left: 0.6em;
        }
    }
}




/////////----------------------------------------------------------------------------------
/////////voir course ----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.show:after{
    content:"";
    display:block;
    clear:both;
}



.show{
    h3,h4{
        margin: 1.4em 0 1em;
    }
    .cover{
        @include span-columns(10,10);
        img{
            max-width: 100%;
            border:0.3em solid silver;
            @include box-sizing(border-box);
        }
        margin-bottom: 1em;
    }
    .auth{
        figure{
            @include span-columns(2 omega,10);
            margin-left:0.5em;
            img{
                width:100%;
                border: 0.3em solid silver;
            }
        }
    }
    .auth:after{
        content:"";
        display:block;
        clear:both;
    }

    table{
        td{
            padding:0.5em;
            border:1px solid silver;
        }
    }

    .left{
        @include span-columns(10,10);
    }
    form{
        @include box-sizing(border-box);
        input, textarea{
            @include span-columns(5,7);
        }
        label{
            @include span-columns(5,7);
            text-align: left;
        }
    }
}

.information:after{
    content:"";
    display:block;
    clear:both;
}

.participants{
    li{
        float:left;
        width:10%;
        margin-right:1%;
        figure{
            width:100%;
            img{
                width: 100%;
                border: 0.3em solid silver;
                @include box-sizing(border-box);
            }
        }
    }
}
.participants:after{
    content:"";
    display:block;
    clear:both;
}

.comment{
    figure{
        width:10%;
        float:left;
        @include box-sizing(border-box);
        img{
            border: 0.3em solid silver;
            width:100%;
             @include box-sizing(border-box);
        }
    }
    margin-bottom: 1em;
    padding:1%;
    border-bottom: 1px solid silver;
    article{
        width: 89%;
        @include box-sizing(border-box);
        padding-left: 1%;
        float:right;
        h4{
        margin-top: 0;
        }
    }
}

.comment:after{
    content:"";
    display:block;
    clear:both;
}

.information{
    width: 75%;
    float:left;
}

aside{
    h3{
        background-color: rgba(255,255,255,0.6);
        padding:0.5em;
    }
    width: 23%;
    float:right;
    margin-left: 2%;
    img{
        max-width: 100%;
    }
}

.information li{
    margin-bottom: 1em;
    span:first-child{

    }
    span{
        display:inline-block;
        padding:0.6em;
    }
    span:nth-child(2){
    }
}





@media screen and (min-width: 150px){
    .container{
        width:700px;
    }
}

@media screen and (min-width: 991px){
    .container{
        width:941px;
    }
}

@media screen and (min-width: 1232px){
    .container{
        width:1182px;
    }
}
@media screen and (min-width: 1484px){
    .container{
        width:1482px;
    }
}

///////SWIPE

.no-js{
    .swipe{
        width:auto;
        left:0;
        visibility:visible;
        .swipe-wrap>div{
            width:100%;
            left:0;
            border-bottom: 1px solid white;
        }
    }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-top: 2em;
    border:2px solid silver;
  div{
    width:100%;
    h2{
    position:absolute;
        top:0;
        left:0;
        background-color: rgba(240,240,240,0.8);
        padding:1em;
        margin:1em;
    }
    figure{
        width: 65%;
        float:left;
        overflow:hidden;
        img{
            float:left;
        }
    }
  }
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
  background-color: rgba(0,0,0,0.6);
  div{
        color:white;
        width:30%;
        padding:2em 2.5%;
        float:right;
        
    }
}

.swipeCommand{
    a{
    border:none;
    font-size: 3em;
    font-weight: bolder;
    color:white;
    position:absolute;
    top:45%;
    opacity:0.8;
    transition:opacity 0.5s;
    }
    a:hover{
        opacity:1;
    }
}

.next{
    right:0;
}

.prev{
    left:0;
}