/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset.scss";
@import "compass/layout.scss";
@import "base";
@include sticky-footer(200px, ".cont", ".foo", "footer");

header{
    position:relative;
    z-index: 100000;
    border-bottom: 1px solid silver;
    h1{
        width:30%;
        float:left;
        a{
            font-weight: bolder;
            border:none;
            display:inline-block;
            padding:0.5em 0;
        }
    }
}

header:after{
    content:"";
    display:block;
    clear:both;
    position:absolute;
    bottom:-2px;
    height:1px;
    width:100%;
    border-bottom: 1px solid white;
}

.hidden{
    position:absolute;
    display:none;
}

.top:after{
    content:"";
    display:block;
    clear:both;
}
body{
    background-image: url(../img/ticks.png);
}

html{
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.4em;
    a{
        color:black;
        text-decoration: none;
        border-bottom: 1px dotted black;
    }
    a:hover{
        color:#FF7600;
    }
    p{
        margin-bottom: 0.8em;
    }
}

h1      { font-size: 2em;}
h2      { font-size: 1.5em;}
h3      { font-size: 1.17em;}
h4      { font-size: 1em;}
h5      { font-size: 0.83em;}
h6      { font-size: 0.75em;}

.content{
    @include container($total-columns, $mobile, $tablet, $computer, $largeComputer);
    //@include susy-grid-background;
}


[type="submit"], .button{
    background-color: rgba(236,178,39,0.6);
    border:none;
    cursor: pointer;
    padding:0.3em 0.5em 0.3em;
    font-size: 1.1em;
    border-radius: 0.3em;
    transition: background-color 0.5s;
    color:white;
    display:inline-block;
}
[type="submit"]:hover, .button:hover{
    background-color: rgba(236,178,39,1);
}

h1,h2,h3,h4,h5,h6{font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }

.container{
    padding:0;
    margin:auto;
    width:1483px;
    transition: all 0.3s;
}
.container:after{
    content:"";
    display:block;
    clear:both;
}

section{
    color:black;
    width:100%;
    @include box-sizing(border-box);
}


/////////----------------------------------------------------------------------------------
/////////Connexion home  ------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.user{
    @include span-columns(6 omega,10);
    padding-top:1em;
}

[id="flash_notice"] span{
    padding:0.3em;
    border-radius: 0.3em;
    color:white;
    background-color: #01939A;
}

.userConnexion{
    text-align: right;
    position:relative;
    box-sizing: border-box;
    color:black;
    a{
        color:black;
    }
    input{
        @include span-columns(2.5,3);
        box-sizing: border-box;
    }
    h3:first-child{border:none;}
    h3{
        cursor: default;
        display:inline-block;
        margin-bottom: 0.5em;
        border-left: 0.2em solid #FF7C00;
        a{
            border:none;
            color:black;
            background-color: rgba(255,255,255,0.95);
            padding:0.6em;
            display:inline-block;  
        }
        a:hover{
            background-color:rgba(1, 147, 154,0.9);
            color:white;
        }
        
    }
    h3:hover+form, form:hover{
        opacity:1;
        height:auto;
        display: block;
        padding-left: 12%;
        box-shadow: 0px 0px 8px;
    }

    form{
        background-color: white;
        padding:0.6em;
        position:absolute;
        display: none;
        opacity:0;
    }
}

[type="text"],[type="password"]{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.2em;
    padding:0.4em;
    margin-top: 0.6em;
    color:black;
}

input:focus{
border: 1px solid #FF7C00;
}

.userConnexion:hover{
    >h3{
        // border-top-left-radius: 0.5em;
        // border-top-right-radius: 0.5em;
        // border-bottom-left-radius: 0em;
        // border-bottom-right-radius: 0em;
    }
}




/////////----------------------------------------------------------------------------------
/////////Menu de navigation  --------------------------------------------------------------
/////////----------------------------------------------------------------------------------




nav{
    color:rgb(61,28,0);
    a{
        color:rgb(61,28,0);
        border:none;
    }
}
nav:after{
    content:"";
    display:block;
    clear:both;
}


.primary{
    width:70%;
    float:right;
    >li{
        position:relative;
        width:25%;
        z-index: 10000;
    }
    li{
        display:inline-block;
        @include box-sizing(border-box);
    }
    a{
        text-align: center;
        padding:1.5em;
        display:block;
    }
    a:hover{
        color:white;
        text-shadow: 0px 0px  3px black;
        background-color: rgba(10,10,10,0.1);
        -moz-box-shadow: inset 0 0 5px #888;
-webkit-box-shadow: inset 0 0 5px#888;
box-shadow: inner 0 0 5px #888;
    }


    >li:hover{
        background-color: rgba(10,10,10,0.1);
        -moz-box-shadow: inset 0 0 5px #888;
-webkit-box-shadow: inset 0 0 5px#888;
box-shadow: inner 0 0 5px #888;

    .secondary{
        opacity:1;
        top:4.375em;
        box-shadow: 0px 0px 8px;
    }
    }
    // .secondary:hover{
    //     <li a{
    //     color:white;
    //     text-shadow: 0px 0px  3px black;
    //     background-color: rgba(10,10,10,0.1);
    //     }
    // }
}

.secondary{
    position:absolute;
    top:-20em;
    left:0;
    opacity:0;
    width:100%;
    transition: opacity 0.5s;

    li{
        background-color: rgb(240,240,240);
        width:100%;
        float:left;
    }
}

.secondary:after{
    content:" ";
    display:block;
    clear:both;
}
// nav{
 
//     ul{
//     color:black;
//     width:100%;
//     margin:1.7em 0;

//         li:first-child{
//             border:none;
//         }
//         li{
//             display: inline-block;
//             @include box-sizing(border-box);
//             width:16.6666667%;
//             border-left: 0.2em solid #FF7600;
//             a{
//                 text-align: center;
//                 display: block;
//                 padding: 0.8em;
//                 border:none;
//                 color:black;
//                 background-color: rgba(255,255,255,0.95);
                
//             }
//             a:hover{
//                 background-color: rgba(1, 147, 154,0.9);
//                 color:white;
//             }
//         }
//     }
// }

/////////----------------------------------------------------------------------------------
/////////Footer ---------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

footer{
    width:100%;
}



/////////----------------------------------------------------------------------------------
/////////Liste des courses ----------------------------------------------------------------
/////////----------------------------------------------------------------------------------

h2{
    padding: 0.8em 0;
    margin-bottom: 1em;
    color: black;
    position:relative;
}


.list{
    color:black;

}

.name{
    width:30%;
}

.coords{
    width:60%;
    padding:0 5%;
    float:right;
    h3{
        display:inline-block;
        margin-bottom: 0.5em;
    }
}

.logo{
    width:30%;
    img{
        max-width: 100%;
        border:1px solid silver;
    }
}

.date{
    width:10%;
}

.description{
    width:40%;
    p{
        padding: 0 1em 0 0;
    }
}

.location{
    width:10%;
}

.link{
    width:10%;
}




.month{
    margin-bottom:3em;
    >h3{
        text-align: center;
        padding:0.5em;
        color:black;
    }
    li{
        width:100%;
        padding: 1em 0; 
        position:relative;
        border-bottom: 1px solid silver;
        transition: box-shadow 0.5s;
        div{
            float:left;
        }
    }
    li:hover{
        -webkit-box-shadow: 0 0 100px rgba(0,0,0, 0.2) inset;
    -moz-box-shadow: 0 0 100px rgba(0,0,0, 0.2) inset;
    box-shadow: 0 0 100px rgba(0,0,0, 0.2) inset;
    }
    li:first-child:hover{
        box-shadow: none;
    }
    li:after{
        content:"";
        display:block;
        clear:both;
    }
    li:before{
        content:"";
        display:block;
        position:absolute;
        bottom:-2px;
        height:1px;
        width:100%;
        border-bottom: 1px solid white;
    }
}

.month:after{
    content:"";
    display:block;
    clear:both;
}


/////////----------------------------------------------------------------------------------
/////////Formulaire de recherche de course ------------------------------------------------
/////////----------------------------------------------------------------------------------

.find{
    color:black;
    h2{color:black}
    form{
        //padding-left: 10%;
    }
    label{
        @include span-columns(1.5,4.5);
    }
    select{
        @include span-columns(3 omega,4.5);
    }
    select:hover{
        cursor:pointer;
    }
    input, textarea{
        @include span-columns(3 omega ,4.5);
        margin-top: 0;
        @include box-sizing(border-box);
    }

}
.find:after{
    content:"";
    display:block;
    clear:both;
}

label{
    text-align: right;
    padding:0.35em 0;
    margin-bottom: 0.6em;
    @include box-sizing(border-box);
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    margin:0;
    font-size: 1em;
    border:none;
    border-radius: 0.5em;
    @include box-sizing(border-box);
    padding:0.5em;
    background: url(../img/down_arrow_select.jpg) no-repeat right #ddd;
    margin-bottom: 0.6em;
}
select:hover{
    cursor:pointer;
}

[type="text"],[type="password"],textarea{
    @include box-sizing(border-box);
    -webkit-appearance: none;
        -moz-appearance: none;
    background-color: transparent;
    border: 1px solid silver;
    border-radius: 0.5em;
    color:black;
    font-size: 1em;
    padding:0.6em;
    margin-bottom: 0.6em;
}

input[type="date"]{
    -webkit-appearance: none;
        -moz-appearance: none;
        margin:0;
        font-size: 1em;
        border:none;
        border-radius: 0.5em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        @include span-columns(3 omega,4.5);
        padding:0.5em;
        margin-bottom: 0.6em;
}

.left{
    margin-left: 10%;
    @include span-columns(4,10);
}

.right{
    @include span-columns(4,10);
}

.login{
    .left{
        margin-left:25%;
        label{
            padding:0.55em 0;
            margin-bottom: 0.6em;
        }
    }
}

.results li{
    margin: 0.2em 0 0.5em;
}

/////////----------------------------------------------------------------------------------
/////////News -----------------------------------------------------------------------------
/////////----------------------------------------------------------------------------------


.news{
    h2{
        margin-bottom: 1em;
    }
    a:nth-child(2){
        @include span-columns(6,10);
        figure img{
            @include span-columns(2,6);
                max-width: 100%;
            margin-top: 0.3em;
        }
    }
    a{
        display:inline-block;
        @include box-sizing(border-box);
        padding: 0.6em;
        border:none;
        margin-bottom: 2.04082%;
        transition: background-color, 0.5s;
        h3{
            margin-bottom: 0.8em;
            background-color: #01939A;
            padding:0.5em;
            color: white;
            span{
                float: right;
                font-size: 0.8em;
                color: #FF7C00;
                text-shadow: 0 0 1px black;
            }
        }
        @include span-columns(4 omega,10);
        figure img{
            @include span-columns(2,4);
            max-width: 100%;
            margin-top: 0.3em;
            border: 0.3em solid white;
            box-shadow: 0px 0px 8px rgb(160,160,160);
        }
    }
    a:hover{
        background-color: rgba(245,245,245,0.1);
    }
}
.news:after{
    content:"";
    display:block;
    clear:both;
}

.list{
    .big{
        @include span-columns(7,10);
        a, a:nth-child(2){
            width:auto;
        }
    }
    aside{
        @include span-columns(3 omega,10);
        a, a:nth-child(2){
            width:auto;
        }
    }
}




/////////----------------------------------------------------------------------------------
/////////voir course ----------------------------------------------------------------------
/////////----------------------------------------------------------------------------------

.show:after{
    content:"";
    display:block;
    clear:both;
}



.show{
    h3,h4{
        margin: 1.4em 0 1em;
    }
    .cover{
        @include span-columns(10,10);
    }
    .auth{
        figure{
            @include span-columns(2,10);
        }
    }

    figure {
     @include span-columns(4,10);
        img{
            border: 0.3em solid silver;
            width:100%;
             @include box-sizing(border-box);
        }
    }
    .left{
        @include span-columns(10,10);
    }
    form{
        @include span-columns(8,10);
        @include box-sizing(border-box);
        margin-left: 10%;
        input, textarea{
            @include span-columns(6 omega,8);
        }
        label{
            @include span-columns(2,8);
        }
    }
}

.information:after{
    content:"";
    display:block;
    clear:both;
}

.comment{
    figure{
        @include span-columns(1,10); 
    }
    margin-bottom: 1em;
}

.comment:after{
    content:"";
    display:block;
    clear:both;
}

.information li{
    @include span-columns(6 omega,10);
    margin-bottom: 1em;
    span:first-child{
        text-align: right;
        background-color: #FF7600;
        @include span-columns(1.5,6);
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        margin-right:0;

    }
    span{
        display:inline-block;
        padding:0.6em;
    }
    span:nth-child(2){
        background-color:rgb(100,100,100);
        color:white;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        @include span-columns(4,6);
    }
}





@media screen and (min-width: 150px){
    .container{
        width:700px;
    }
}

@media screen and (min-width: 991px){
    .container{
        width:941px;
    }
}

@media screen and (min-width: 1232px){
    .container{
        width:1182px;
    }
}
@media screen and (min-width: 1484px){
    .container{
        width:1482px;
    }
}