/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 10, ../sass/screen.scss */
header .img {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
/* line 18, ../sass/screen.scss */
header h1 {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  position: relative; }
  /* line 21, ../sass/screen.scss */
  header h1 a {
    color: white;
    font-weight: bolder;
    border: none;
    display: inline-block;
    padding: 1em; }
  /* line 28, ../sass/screen.scss */
  header h1 span {
    font-size: 0.6em;
    color: white;
    text-align: left;
    position: absolute;
    left: 1.82em;
    bottom: 0; }

/* line 39, ../sass/screen.scss */
.hidden {
  position: absolute;
  display: none; }

/* line 44, ../sass/screen.scss */
.top:after {
  content: "";
  display: block;
  clear: both; }

/* line 51, ../sass/screen.scss */
html {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.4em; }
  /* line 54, ../sass/screen.scss */
  html a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black; }
  /* line 59, ../sass/screen.scss */
  html a:hover {
    color: #5DC8CD; }
  /* line 62, ../sass/screen.scss */
  html p {
    margin-bottom: 0.8em; }

/* line 67, ../sass/screen.scss */
h1 {
  font-size: 2em; }

/* line 68, ../sass/screen.scss */
h2 {
  font-size: 1.5em; }

/* line 69, ../sass/screen.scss */
h3 {
  font-size: 1.17em; }

/* line 70, ../sass/screen.scss */
h4 {
  font-size: 1em; }

/* line 71, ../sass/screen.scss */
h5 {
  font-size: 0.83em; }

/* line 72, ../sass/screen.scss */
h6 {
  font-size: 0.75em; }

/* line 74, ../sass/screen.scss */
.content {
  *zoom: 1;
  max-width: 49em;
  _width: 49em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em; }
  /* line 38, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .content:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 24em) {
    /* line 74, ../sass/screen.scss */
    .content {
      max-width: 24em; } }
  @media (min-width: 44em) {
    /* line 74, ../sass/screen.scss */
    .content {
      max-width: 44em; } }
  @media (min-width: 55em) {
    /* line 74, ../sass/screen.scss */
    .content {
      max-width: 59em; } }
  @media (min-width: 65em) {
    /* line 74, ../sass/screen.scss */
    .content {
      max-width: 69em; } }

/* line 80, ../sass/screen.scss */
[type="submit"] {
  background-color: #FF7600;
  border: none;
  cursor: pointer;
  padding: 0.3em 0.5em 0.3em;
  font-size: 1.1em;
  border-radius: 0.3em;
  margin: 0.5em 0;
  transition: box-shadow 0.5s;
  color: white;
  text-shadow: 0 1px 1px black; }

/* line 92, ../sass/screen.scss */
[type="submit"]:hover {
  box-shadow: 0 0.5em 0 #01938A; }

/* line 96, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }

/* line 103, ../sass/screen.scss */
.user {
  width: 59.18367%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-top: 1em; }

/* line 108, ../sass/screen.scss */
[id="flash_notice"] span {
  padding: 0.3em;
  border-radius: 0.3em;
  color: white;
  background-color: #01939A; }

/* line 115, ../sass/screen.scss */
.userConnexion {
  text-align: right;
  position: relative;
  box-sizing: border-box;
  color: black; }
  /* line 120, ../sass/screen.scss */
  .userConnexion a {
    color: black; }
  /* line 123, ../sass/screen.scss */
  .userConnexion input {
    width: 85.71429%;
    float: left;
    margin-right: 7.14286%;
    display: inline;
    box-sizing: border-box; }
  /* line 127, ../sass/screen.scss */
  .userConnexion h3:first-child {
    border: none; }
  /* line 128, ../sass/screen.scss */
  .userConnexion h3 {
    cursor: default;
    display: inline-block;
    margin-bottom: 0.5em;
    border-left: 0.2em solid #FF7C00; }
    /* line 133, ../sass/screen.scss */
    .userConnexion h3 a {
      border: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.95);
      padding: 0.6em;
      display: inline-block; }
    /* line 140, ../sass/screen.scss */
    .userConnexion h3 a:hover {
      background-color: rgba(1, 147, 154, 0.9);
      color: white; }
  /* line 146, ../sass/screen.scss */
  .userConnexion h3:hover + form, .userConnexion form:hover {
    opacity: 1;
    height: auto;
    display: block;
    padding-left: 12%;
    box-shadow: 0px 0px 8px; }
  /* line 154, ../sass/screen.scss */
  .userConnexion form {
    background-color: white;
    padding: 0.6em;
    position: absolute;
    display: none;
    opacity: 0; }

/* line 163, ../sass/screen.scss */
[type="text"], [type="password"] {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 0.4em;
  margin-top: 0.6em;
  color: black; }

/* line 172, ../sass/screen.scss */
input:focus {
  border: 1px solid #FF7C00; }

/* line 195, ../sass/screen.scss */
nav ul {
  color: black;
  width: 100%;
  margin: 1.7em 0; }
  /* line 200, ../sass/screen.scss */
  nav ul li:first-child {
    border: none; }
  /* line 203, ../sass/screen.scss */
  nav ul li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.6666667%;
    border-left: 0.2em solid #FF7600; }
    /* line 208, ../sass/screen.scss */
    nav ul li a {
      text-align: center;
      display: block;
      padding: 0.8em;
      border: none;
      background-color: rgba(255, 255, 255, 0.95); }
    /* line 216, ../sass/screen.scss */
    nav ul li a:hover {
      background-color: rgba(1, 147, 154, 0.9);
      color: white; }

/* line 232, ../sass/screen.scss */
h2 {
  margin-left: -0.6em;
  border-left: 0.6em solid #FF7600;
  padding: 0.5em 0; }

/* line 239, ../sass/screen.scss */
.list h3 {
  background-color: #01939A;
  color: white;
  text-align: center;
  padding: 0.6em;
  margin: 1em 0 0.5em; }
/* line 246, ../sass/screen.scss */
.list ul a {
  border: none;
  padding: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  margin-bottom: 2.04082%;
  background-color: black;
  height: 100px;
  transition: background-color 0.5s; }
  /* line 255, ../sass/screen.scss */
  .list ul a h4 {
    text-align: center; }
/* line 259, ../sass/screen.scss */
.list ul a:hover {
  background-color: #FF7600; }

/* line 265, ../sass/screen.scss */
.sevenFirst a:first-child {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  height: 222px; }
/* line 270, ../sass/screen.scss */
.sevenFirst a {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 272, ../sass/screen.scss */
  .sevenFirst a:nth-child(3n) {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }

/* line 278, ../sass/screen.scss */
.others a:nth-child(4) {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  height: 222px; }
/* line 283, ../sass/screen.scss */
.others a {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 285, ../sass/screen.scss */
  .others a:nth-child(4n) {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }

/* line 290, ../sass/screen.scss */
.month:after {
  content: "";
  display: block;
  clear: both; }

/* line 296, ../sass/screen.scss */
section {
  margin-bottom: 3em; }

/* line 305, ../sass/screen.scss */
.find {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.5em; }
  /* line 312, ../sass/screen.scss */
  .find h2 {
    border: none;
    margin: 0 0 1em;
    padding: 0 0 0.6em;
    text-align: center; }
  /* line 318, ../sass/screen.scss */
  .find label {
    width: 31.81818%;
    float: left;
    margin-right: 4.54545%;
    display: inline;
    text-align: right;
    padding: 0.35em 0;
    margin-bottom: 0.6em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 325, ../sass/screen.scss */
  .find select {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 63.63636%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    padding: 0.5em;
    background: url(../img/down_arrow_select.jpg) no-repeat right #dddddd;
    margin-bottom: 0.6em; }
  /* line 338, ../sass/screen.scss */
  .find select:hover {
    cursor: pointer; }
  /* line 341, ../sass/screen.scss */
  .find input, .find textarea {
    width: 63.63636%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* line 348, ../sass/screen.scss */
.find:after {
  content: "";
  display: block;
  clear: both; }

/* line 354, ../sass/screen.scss */
[type="text"], [type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5em;
  color: white;
  font-size: 1em;
  padding: 0.6em;
  margin-bottom: 0.6em; }

/* line 366, ../sass/screen.scss */
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 63.63636%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding: 0.5em;
  margin-bottom: 0.6em; }

/* line 380, ../sass/screen.scss */
.left {
  width: 48.97959%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }

/* line 384, ../sass/screen.scss */
.right {
  width: 48.97959%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline; }

/* line 389, ../sass/screen.scss */
.login .left {
  margin-left: 25%; }
  /* line 391, ../sass/screen.scss */
  .login .left label {
    padding: 0.55em 0;
    margin-bottom: 0.6em; }

/* line 404, ../sass/screen.scss */
.news h2 {
  margin-bottom: 1em; }
/* line 407, ../sass/screen.scss */
.news a:nth-child(2) {
  width: 59.18367%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 409, ../sass/screen.scss */
  .news a:nth-child(2) figure img {
    width: 31.03448%;
    float: left;
    margin-right: 3.44828%;
    display: inline;
    max-width: 100%;
    margin-top: 0.3em; }
/* line 415, ../sass/screen.scss */
.news a {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.6em;
  border: none;
  margin-bottom: 2.04082%;
  transition: background-color, 0.5s;
  width: 38.77551%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline; }
  /* line 422, ../sass/screen.scss */
  .news a h3 {
    margin-bottom: 0.8em;
    background-color: #01939A;
    padding: 0.5em;
    color: white; }
    /* line 427, ../sass/screen.scss */
    .news a h3 span {
      float: right;
      font-size: 0.8em;
      color: #FF7C00;
      text-shadow: 0 0 1px black; }
  /* line 435, ../sass/screen.scss */
  .news a figure img {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
    max-width: 100%;
    margin-top: 0.3em;
    border: 0.3em solid white;
    box-shadow: 0px 0px 8px #a0a0a0; }
/* line 443, ../sass/screen.scss */
.news a:hover {
  color: black;
  background-color: whitesmoke; }
