/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 10, ../sass/screen.scss */
header .img {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  /* line 15, ../sass/screen.scss */
  header .img img {
    width: 100%;
    height: auto;
    box-shadow: 0 1px 8px black; }
/* line 22, ../sass/screen.scss */
header h1 {
  width: 28.57143%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  position: relative;
  background-color: #01939A; }
  /* line 26, ../sass/screen.scss */
  header h1 a {
    color: white;
    font-weight: bolder;
    border: none;
    display: inline-block;
    padding: 1em 1em 2em; }
  /* line 33, ../sass/screen.scss */
  header h1 span {
    font-size: 0.6em;
    color: white;
    position: absolute;
    left: 1.82em;
    bottom: 1em; }

/* line 43, ../sass/screen.scss */
.hidden {
  position: absolute;
  display: none; }

/* line 48, ../sass/screen.scss */
.top:after {
  content: "";
  display: block;
  clear: both; }

/* line 55, ../sass/screen.scss */
html {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.4em; }
  /* line 58, ../sass/screen.scss */
  html a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white; }
  /* line 63, ../sass/screen.scss */
  html a:hover {
    color: #FF7600; }
  /* line 66, ../sass/screen.scss */
  html p {
    color: silver;
    margin-bottom: 0.8em; }

/* line 72, ../sass/screen.scss */
h1 {
  font-size: 2em; }

/* line 73, ../sass/screen.scss */
h2 {
  font-size: 1.5em; }

/* line 74, ../sass/screen.scss */
h3 {
  font-size: 1.17em; }

/* line 75, ../sass/screen.scss */
h4 {
  font-size: 1em; }

/* line 76, ../sass/screen.scss */
h5 {
  font-size: 0.83em; }

/* line 77, ../sass/screen.scss */
h6 {
  font-size: 0.75em; }

/* line 79, ../sass/screen.scss */
.content {
  *zoom: 1;
  max-width: 49em;
  _width: 49em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em; }
  /* line 38, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .content:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 24em) {
    /* line 79, ../sass/screen.scss */
    .content {
      max-width: 24em; } }
  @media (min-width: 44em) {
    /* line 79, ../sass/screen.scss */
    .content {
      max-width: 44em; } }
  @media (min-width: 55em) {
    /* line 79, ../sass/screen.scss */
    .content {
      max-width: 59em; } }
  @media (min-width: 65em) {
    /* line 79, ../sass/screen.scss */
    .content {
      max-width: 69em; } }

/* line 85, ../sass/screen.scss */
[type="submit"], .button {
  background-color: #FF7600;
  border: none;
  cursor: pointer;
  padding: 0.3em 0.5em 0.3em;
  font-size: 1.1em;
  border-radius: 0.3em;
  margin: 0.5em 0;
  transition: box-shadow 0.5s;
  color: white;
  text-shadow: 0 1px 1px black;
  display: inline-block; }

/* line 98, ../sass/screen.scss */
[type="submit"]:hover, .button:hover {
  box-shadow: 0 0.5em 0 #01938A;
  color: white; }

/* line 103, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }

/* line 105, ../sass/screen.scss */
section.container {
  background-color: transparent;
  padding: 0; }

/* line 110, ../sass/screen.scss */
section {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 122, ../sass/screen.scss */
.user {
  width: 59.18367%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-top: 1em; }

/* line 127, ../sass/screen.scss */
[id="flash_notice"] span {
  padding: 0.3em;
  border-radius: 0.3em;
  color: white;
  background-color: #01939A; }

/* line 134, ../sass/screen.scss */
.userConnexion {
  text-align: right;
  position: relative;
  box-sizing: border-box;
  color: black; }
  /* line 139, ../sass/screen.scss */
  .userConnexion a {
    color: black; }
  /* line 142, ../sass/screen.scss */
  .userConnexion input {
    width: 85.71429%;
    float: left;
    margin-right: 7.14286%;
    display: inline;
    box-sizing: border-box; }
  /* line 146, ../sass/screen.scss */
  .userConnexion h3:first-child {
    border: none; }
  /* line 147, ../sass/screen.scss */
  .userConnexion h3 {
    cursor: default;
    display: inline-block;
    margin-bottom: 0.5em;
    border-left: 0.2em solid #FF7C00; }
    /* line 152, ../sass/screen.scss */
    .userConnexion h3 a {
      border: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.95);
      padding: 0.6em;
      display: inline-block; }
    /* line 159, ../sass/screen.scss */
    .userConnexion h3 a:hover {
      background-color: rgba(1, 147, 154, 0.9);
      color: white; }
  /* line 165, ../sass/screen.scss */
  .userConnexion h3:hover + form, .userConnexion form:hover {
    opacity: 1;
    height: auto;
    display: block;
    padding-left: 12%;
    box-shadow: 0px 0px 8px; }
  /* line 173, ../sass/screen.scss */
  .userConnexion form {
    background-color: white;
    padding: 0.6em;
    position: absolute;
    display: none;
    opacity: 0; }

/* line 182, ../sass/screen.scss */
[type="text"], [type="password"] {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 0.4em;
  margin-top: 0.6em;
  color: black; }

/* line 191, ../sass/screen.scss */
input:focus {
  border: 1px solid #FF7C00; }

/* line 214, ../sass/screen.scss */
nav ul {
  color: black;
  width: 100%;
  margin: 1.7em 0; }
  /* line 219, ../sass/screen.scss */
  nav ul li:first-child {
    border: none; }
  /* line 222, ../sass/screen.scss */
  nav ul li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.6666667%;
    border-left: 0.2em solid #FF7600; }
    /* line 227, ../sass/screen.scss */
    nav ul li a {
      text-align: center;
      display: block;
      padding: 0.8em;
      border: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.95); }
    /* line 236, ../sass/screen.scss */
    nav ul li a:hover {
      background-color: rgba(1, 147, 154, 0.9);
      color: white; }

/* line 252, ../sass/screen.scss */
h2 {
  margin-left: -0.6em;
  border-left: 0.6em solid #FF7600;
  padding: 0.5em 0;
  margin-bottom: 1em;
  background-color: #c8c8c8;
  color: black; }

/* line 261, ../sass/screen.scss */
section h3 {
  background-color: #01939A;
  color: white;
  text-align: center;
  padding: 0.6em;
  margin: 1em 0 0.5em; }

/* line 274, ../sass/screen.scss */
.list ul a {
  border: none;
  padding: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  margin-bottom: 2.04082%;
  background-color: black;
  height: 100px;
  transition: background-color 0.5s; }
  /* line 283, ../sass/screen.scss */
  .list ul a h4 {
    text-align: center; }
/* line 287, ../sass/screen.scss */
.list ul a:hover {
  background-color: #FF7600; }

/* line 293, ../sass/screen.scss */
.sevenFirst a:first-child {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  height: 222px; }
/* line 298, ../sass/screen.scss */
.sevenFirst a {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 300, ../sass/screen.scss */
  .sevenFirst a:nth-child(3n) {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }

/* line 306, ../sass/screen.scss */
.others a:nth-child(4) {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  height: 222px; }
/* line 311, ../sass/screen.scss */
.others a {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 313, ../sass/screen.scss */
  .others a:nth-child(4n) {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }

/* line 318, ../sass/screen.scss */
.month:after {
  content: "";
  display: block;
  clear: both; }

/* line 324, ../sass/screen.scss */
section {
  margin-bottom: 3em; }

/* line 333, ../sass/screen.scss */
.find {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.5em; }
  /* line 340, ../sass/screen.scss */
  .find h2 {
    border: none;
    margin: 0 0 1em;
    padding: 0 0 0.6em;
    text-align: center;
    background-color: transparent;
    color: white; }
  /* line 348, ../sass/screen.scss */
  .find label {
    width: 31.81818%;
    float: left;
    margin-right: 4.54545%;
    display: inline; }
  /* line 351, ../sass/screen.scss */
  .find select {
    width: 63.63636%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
  /* line 354, ../sass/screen.scss */
  .find select:hover {
    cursor: pointer; }
  /* line 357, ../sass/screen.scss */
  .find input, .find textarea {
    width: 63.63636%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* line 364, ../sass/screen.scss */
.find:after {
  content: "";
  display: block;
  clear: both; }

/* line 370, ../sass/screen.scss */
label {
  text-align: right;
  padding: 0.35em 0;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 376, ../sass/screen.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  background: url(../img/down_arrow_select.jpg) no-repeat right #dddddd;
  margin-bottom: 0.6em; }

/* line 388, ../sass/screen.scss */
select:hover {
  cursor: pointer; }

/* line 392, ../sass/screen.scss */
[type="text"], [type="password"], textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5em;
  color: white;
  font-size: 1em;
  padding: 0.6em;
  margin-bottom: 0.6em; }

/* line 405, ../sass/screen.scss */
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 63.63636%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding: 0.5em;
  margin-bottom: 0.6em; }

/* line 419, ../sass/screen.scss */
.left {
  width: 48.97959%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }

/* line 423, ../sass/screen.scss */
.right {
  width: 48.97959%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline; }

/* line 428, ../sass/screen.scss */
.login .left {
  margin-left: 25%; }
  /* line 430, ../sass/screen.scss */
  .login .left label {
    padding: 0.55em 0;
    margin-bottom: 0.6em; }

/* line 437, ../sass/screen.scss */
.results li {
  margin: 0.2em 0 0.5em; }

/* line 447, ../sass/screen.scss */
.news h2 {
  margin-bottom: 1em; }
/* line 450, ../sass/screen.scss */
.news a:nth-child(2) {
  width: 59.18367%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 452, ../sass/screen.scss */
  .news a:nth-child(2) figure img {
    width: 31.03448%;
    float: left;
    margin-right: 3.44828%;
    display: inline;
    max-width: 100%;
    margin-top: 0.3em; }
/* line 458, ../sass/screen.scss */
.news a {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.6em;
  border: none;
  margin-bottom: 2.04082%;
  transition: background-color, 0.5s;
  width: 38.77551%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline; }
  /* line 465, ../sass/screen.scss */
  .news a h3 {
    margin-bottom: 0.8em;
    background-color: #01939A;
    padding: 0.5em;
    color: white; }
    /* line 470, ../sass/screen.scss */
    .news a h3 span {
      float: right;
      font-size: 0.8em;
      color: #FF7C00;
      text-shadow: 0 0 1px black; }
  /* line 478, ../sass/screen.scss */
  .news a figure img {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
    max-width: 100%;
    margin-top: 0.3em;
    border: 0.3em solid white;
    box-shadow: 0px 0px 8px #a0a0a0; }
/* line 486, ../sass/screen.scss */
.news a:hover {
  background-color: rgba(245, 245, 245, 0.1); }

/* line 490, ../sass/screen.scss */
.news:after {
  content: "";
  display: block;
  clear: both; }

/* line 497, ../sass/screen.scss */
.list .big {
  width: 69.38776%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 499, ../sass/screen.scss */
  .list .big a, .list .big a:nth-child(2) {
    width: auto; }
/* line 503, ../sass/screen.scss */
.list aside {
  width: 28.57143%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline; }
  /* line 505, ../sass/screen.scss */
  .list aside a, .list aside a:nth-child(2) {
    width: auto; }

/* line 518, ../sass/screen.scss */
.show:after {
  content: "";
  display: block;
  clear: both; }

/* line 527, ../sass/screen.scss */
.show h3, .show h4 {
  margin: 1.4em 0 1em; }
/* line 530, ../sass/screen.scss */
.show .cover {
  width: 100%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
/* line 534, ../sass/screen.scss */
.show .auth figure {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
/* line 539, ../sass/screen.scss */
.show figure {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 541, ../sass/screen.scss */
  .show figure img {
    border: 0.3em solid silver;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* line 547, ../sass/screen.scss */
.show .left {
  width: 100%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
/* line 550, ../sass/screen.scss */
.show form {
  width: 79.59184%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10%; }
  /* line 554, ../sass/screen.scss */
  .show form input, .show form textarea {
    width: 74.35897%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
  /* line 557, ../sass/screen.scss */
  .show form label {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    display: inline; }

/* line 563, ../sass/screen.scss */
.info:after {
  content: "";
  display: block;
  clear: both; }

/* line 569, ../sass/screen.scss */
.comment {
  margin-bottom: 1em; }
  /* line 570, ../sass/screen.scss */
  .comment figure {
    width: 8.16327%;
    float: left;
    margin-right: 2.04082%;
    display: inline; }

/* line 576, ../sass/screen.scss */
.comment:after {
  content: "";
  display: block;
  clear: both; }

/* line 582, ../sass/screen.scss */
.info li {
  width: 59.18367%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-bottom: 1em; }
  /* line 585, ../sass/screen.scss */
  .info li span:first-child {
    text-align: right;
    background-color: #FF7600;
    width: 24.13793%;
    float: left;
    margin-right: 3.44828%;
    display: inline;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-right: 0; }
  /* line 594, ../sass/screen.scss */
  .info li span {
    display: inline-block;
    padding: 0.6em; }
  /* line 598, ../sass/screen.scss */
  .info li span:nth-child(2) {
    background-color: #646464;
    color: white;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
    display: inline; }
