/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 10, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%; }

/* line 12, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.cont {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -200px; }
  /* line 18, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
  .cont .foo {
    height: 200px; }

/* line 20, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 200px; }

/* line 11, ../sass/screen.scss */
header {
  position: relative;
  z-index: 100000;
  border-bottom: 1px solid silver; }
  /* line 15, ../sass/screen.scss */
  header h1 {
    width: 30%;
    float: left; }
    /* line 18, ../sass/screen.scss */
    header h1 a {
      font-weight: bolder;
      border: none;
      display: inline-block;
      padding: 0.5em 0; }

/* line 27, ../sass/screen.scss */
header:after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  bottom: -2px;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid white; }

/* line 38, ../sass/screen.scss */
.hidden {
  position: absolute;
  display: none; }

/* line 43, ../sass/screen.scss */
.top:after {
  content: "";
  display: block;
  clear: both; }

/* line 48, ../sass/screen.scss */
body {
  background-image: url(../img/ticks.png); }

/* line 52, ../sass/screen.scss */
html {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.4em; }
  /* line 55, ../sass/screen.scss */
  html a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted black; }
  /* line 60, ../sass/screen.scss */
  html a:hover {
    color: #FF7600; }
  /* line 63, ../sass/screen.scss */
  html p {
    margin-bottom: 0.8em; }

/* line 68, ../sass/screen.scss */
h1 {
  font-size: 2em; }

/* line 69, ../sass/screen.scss */
h2 {
  font-size: 1.5em; }

/* line 70, ../sass/screen.scss */
h3 {
  font-size: 1.17em; }

/* line 71, ../sass/screen.scss */
h4 {
  font-size: 1em; }

/* line 72, ../sass/screen.scss */
h5 {
  font-size: 0.83em; }

/* line 73, ../sass/screen.scss */
h6 {
  font-size: 0.75em; }

/* line 75, ../sass/screen.scss */
.content {
  *zoom: 1;
  max-width: 49em;
  _width: 49em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .content:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 24em) {
    /* line 75, ../sass/screen.scss */
    .content {
      max-width: 24em; } }
  @media (min-width: 44em) {
    /* line 75, ../sass/screen.scss */
    .content {
      max-width: 44em; } }
  @media (min-width: 55em) {
    /* line 75, ../sass/screen.scss */
    .content {
      max-width: 59em; } }
  @media (min-width: 65em) {
    /* line 75, ../sass/screen.scss */
    .content {
      max-width: 69em; } }

/* line 81, ../sass/screen.scss */
[type="submit"], .button {
  background-color: rgba(236, 178, 39, 0.6);
  border: none;
  cursor: pointer;
  padding: 0.3em 0.5em 0.3em;
  font-size: 1.1em;
  border-radius: 0.3em;
  transition: background-color 0.5s;
  color: white;
  display: inline-block; }

/* line 92, ../sass/screen.scss */
[type="submit"]:hover, .button:hover {
  background-color: #ecb227; }

/* line 96, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; }

/* line 98, ../sass/screen.scss */
.container {
  padding: 0;
  margin: auto;
  width: 1483px;
  transition: all 0.3s; }

/* line 104, ../sass/screen.scss */
.container:after {
  content: "";
  display: block;
  clear: both; }

/* line 110, ../sass/screen.scss */
section {
  color: black;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 121, ../sass/screen.scss */
.user {
  width: 59.18367%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding-top: 1em; }

/* line 126, ../sass/screen.scss */
[id="flash_notice"] span {
  padding: 0.3em;
  border-radius: 0.3em;
  color: white;
  background-color: #01939A; }

/* line 133, ../sass/screen.scss */
.userConnexion {
  text-align: right;
  position: relative;
  box-sizing: border-box;
  color: black; }
  /* line 138, ../sass/screen.scss */
  .userConnexion a {
    color: black; }
  /* line 141, ../sass/screen.scss */
  .userConnexion input {
    width: 85.71429%;
    float: left;
    margin-right: 7.14286%;
    display: inline;
    box-sizing: border-box; }
  /* line 145, ../sass/screen.scss */
  .userConnexion h3:first-child {
    border: none; }
  /* line 146, ../sass/screen.scss */
  .userConnexion h3 {
    cursor: default;
    display: inline-block;
    margin-bottom: 0.5em;
    border-left: 0.2em solid #FF7C00; }
    /* line 151, ../sass/screen.scss */
    .userConnexion h3 a {
      border: none;
      color: black;
      background-color: rgba(255, 255, 255, 0.95);
      padding: 0.6em;
      display: inline-block; }
    /* line 158, ../sass/screen.scss */
    .userConnexion h3 a:hover {
      background-color: rgba(1, 147, 154, 0.9);
      color: white; }
  /* line 164, ../sass/screen.scss */
  .userConnexion h3:hover + form, .userConnexion form:hover {
    opacity: 1;
    height: auto;
    display: block;
    padding-left: 12%;
    box-shadow: 0px 0px 8px; }
  /* line 172, ../sass/screen.scss */
  .userConnexion form {
    background-color: white;
    padding: 0.6em;
    position: absolute;
    display: none;
    opacity: 0; }

/* line 181, ../sass/screen.scss */
[type="text"], [type="password"] {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 0.4em;
  margin-top: 0.6em;
  color: black; }

/* line 190, ../sass/screen.scss */
input:focus {
  border: 1px solid #FF7C00; }

/* line 213, ../sass/screen.scss */
nav {
  color: #3d1c00; }
  /* line 215, ../sass/screen.scss */
  nav a {
    color: #3d1c00;
    border: none; }

/* line 220, ../sass/screen.scss */
nav:after {
  content: "";
  display: block;
  clear: both; }

/* line 227, ../sass/screen.scss */
.primary {
  width: 70%;
  float: right; }
  /* line 230, ../sass/screen.scss */
  .primary > li {
    position: relative;
    width: 25%;
    z-index: 10000; }
  /* line 235, ../sass/screen.scss */
  .primary li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 239, ../sass/screen.scss */
  .primary a {
    text-align: center;
    padding: 1.5em;
    display: block; }
  /* line 244, ../sass/screen.scss */
  .primary a:hover {
    color: white;
    text-shadow: 0px 0px  3px black;
    background-color: rgba(10, 10, 10, 0.1);
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888888;
    box-shadow: inner 0 0 5px #888; }
  /* line 254, ../sass/screen.scss */
  .primary > li:hover {
    background-color: rgba(10, 10, 10, 0.1);
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888888;
    box-shadow: inner 0 0 5px #888; }
    /* line 260, ../sass/screen.scss */
    .primary > li:hover .secondary {
      opacity: 1;
      top: 4.375em;
      box-shadow: 0px 0px 8px; }

/* line 275, ../sass/screen.scss */
.secondary {
  position: absolute;
  top: -20em;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: opacity 0.5s; }
  /* line 283, ../sass/screen.scss */
  .secondary li {
    background-color: #f0f0f0;
    width: 100%;
    float: left; }

/* line 290, ../sass/screen.scss */
.secondary:after {
  content: " ";
  display: block;
  clear: both; }

/* line 331, ../sass/screen.scss */
footer {
  width: 100%; }

/* line 341, ../sass/screen.scss */
h2 {
  padding: 0.8em 0;
  margin-bottom: 1em;
  color: black;
  position: relative; }

/* line 349, ../sass/screen.scss */
.list {
  color: black; }

/* line 354, ../sass/screen.scss */
.name {
  width: 30%; }

/* line 358, ../sass/screen.scss */
.coords {
  width: 60%;
  padding: 0 5%;
  float: right; }
  /* line 362, ../sass/screen.scss */
  .coords h3 {
    display: inline-block;
    margin-bottom: 0.5em; }

/* line 368, ../sass/screen.scss */
.logo {
  width: 30%; }
  /* line 370, ../sass/screen.scss */
  .logo img {
    max-width: 100%;
    border: 1px solid silver; }

/* line 376, ../sass/screen.scss */
.date {
  width: 10%; }

/* line 380, ../sass/screen.scss */
.description {
  width: 40%; }
  /* line 382, ../sass/screen.scss */
  .description p {
    padding: 0 1em 0 0; }

/* line 387, ../sass/screen.scss */
.location {
  width: 10%; }

/* line 391, ../sass/screen.scss */
.link {
  width: 10%; }

/* line 398, ../sass/screen.scss */
.month {
  margin-bottom: 3em; }
  /* line 400, ../sass/screen.scss */
  .month > h3 {
    text-align: center;
    padding: 0.5em;
    color: black; }
  /* line 405, ../sass/screen.scss */
  .month li {
    width: 100%;
    padding: 1em 0;
    position: relative;
    border-bottom: 1px solid silver;
    transition: box-shadow 0.5s; }
    /* line 411, ../sass/screen.scss */
    .month li div {
      float: left; }
  /* line 415, ../sass/screen.scss */
  .month li:hover {
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2) inset; }
  /* line 420, ../sass/screen.scss */
  .month li:first-child:hover {
    box-shadow: none; }
  /* line 423, ../sass/screen.scss */
  .month li:after {
    content: "";
    display: block;
    clear: both; }
  /* line 428, ../sass/screen.scss */
  .month li:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid white; }

/* line 439, ../sass/screen.scss */
.month:after {
  content: "";
  display: block;
  clear: both; }

/* line 450, ../sass/screen.scss */
.find {
  color: black; }
  /* line 452, ../sass/screen.scss */
  .find h2 {
    color: black; }
  /* line 456, ../sass/screen.scss */
  .find label {
    width: 31.81818%;
    float: left;
    margin-right: 4.54545%;
    display: inline; }
  /* line 459, ../sass/screen.scss */
  .find select {
    width: 63.63636%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
  /* line 462, ../sass/screen.scss */
  .find select:hover {
    cursor: pointer; }
  /* line 465, ../sass/screen.scss */
  .find input, .find textarea {
    width: 63.63636%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* line 472, ../sass/screen.scss */
.find:after {
  content: "";
  display: block;
  clear: both; }

/* line 478, ../sass/screen.scss */
label {
  text-align: right;
  padding: 0.35em 0;
  margin-bottom: 0.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 484, ../sass/screen.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  background: url(../img/down_arrow_select.jpg) no-repeat right #dddddd;
  margin-bottom: 0.6em; }

/* line 496, ../sass/screen.scss */
select:hover {
  cursor: pointer; }

/* line 500, ../sass/screen.scss */
[type="text"], [type="password"], textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid silver;
  border-radius: 0.5em;
  color: black;
  font-size: 1em;
  padding: 0.6em;
  margin-bottom: 0.6em; }

/* line 513, ../sass/screen.scss */
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 63.63636%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  padding: 0.5em;
  margin-bottom: 0.6em; }

/* line 527, ../sass/screen.scss */
.left {
  margin-left: 10%;
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }

/* line 532, ../sass/screen.scss */
.right {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }

/* line 537, ../sass/screen.scss */
.login .left {
  margin-left: 25%; }
  /* line 539, ../sass/screen.scss */
  .login .left label {
    padding: 0.55em 0;
    margin-bottom: 0.6em; }

/* line 546, ../sass/screen.scss */
.results li {
  margin: 0.2em 0 0.5em; }

/* line 556, ../sass/screen.scss */
.news h2 {
  margin-bottom: 1em; }
/* line 559, ../sass/screen.scss */
.news a:nth-child(2) {
  width: 59.18367%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 561, ../sass/screen.scss */
  .news a:nth-child(2) figure img {
    width: 31.03448%;
    float: left;
    margin-right: 3.44828%;
    display: inline;
    max-width: 100%;
    margin-top: 0.3em; }
/* line 567, ../sass/screen.scss */
.news a {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.6em;
  border: none;
  margin-bottom: 2.04082%;
  transition: background-color, 0.5s;
  width: 38.77551%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline; }
  /* line 574, ../sass/screen.scss */
  .news a h3 {
    margin-bottom: 0.8em;
    background-color: #01939A;
    padding: 0.5em;
    color: white; }
    /* line 579, ../sass/screen.scss */
    .news a h3 span {
      float: right;
      font-size: 0.8em;
      color: #FF7C00;
      text-shadow: 0 0 1px black; }
  /* line 587, ../sass/screen.scss */
  .news a figure img {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
    display: inline;
    max-width: 100%;
    margin-top: 0.3em;
    border: 0.3em solid white;
    box-shadow: 0px 0px 8px #a0a0a0; }
/* line 595, ../sass/screen.scss */
.news a:hover {
  background-color: rgba(245, 245, 245, 0.1); }

/* line 599, ../sass/screen.scss */
.news:after {
  content: "";
  display: block;
  clear: both; }

/* line 606, ../sass/screen.scss */
.list .big {
  width: 69.38776%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 608, ../sass/screen.scss */
  .list .big a, .list .big a:nth-child(2) {
    width: auto; }
/* line 612, ../sass/screen.scss */
.list aside {
  width: 28.57143%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline; }
  /* line 614, ../sass/screen.scss */
  .list aside a, .list aside a:nth-child(2) {
    width: auto; }

/* line 627, ../sass/screen.scss */
.show:after {
  content: "";
  display: block;
  clear: both; }

/* line 636, ../sass/screen.scss */
.show h3, .show h4 {
  margin: 1.4em 0 1em; }
/* line 639, ../sass/screen.scss */
.show .cover {
  width: 100%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
/* line 643, ../sass/screen.scss */
.show .auth figure {
  width: 18.36735%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
/* line 648, ../sass/screen.scss */
.show figure {
  width: 38.77551%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
  /* line 650, ../sass/screen.scss */
  .show figure img {
    border: 0.3em solid silver;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
/* line 656, ../sass/screen.scss */
.show .left {
  width: 100%;
  float: left;
  margin-right: 2.04082%;
  display: inline; }
/* line 659, ../sass/screen.scss */
.show form {
  width: 79.59184%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10%; }
  /* line 663, ../sass/screen.scss */
  .show form input, .show form textarea {
    width: 74.35897%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
  /* line 666, ../sass/screen.scss */
  .show form label {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    display: inline; }

/* line 672, ../sass/screen.scss */
.information:after {
  content: "";
  display: block;
  clear: both; }

/* line 678, ../sass/screen.scss */
.comment {
  margin-bottom: 1em; }
  /* line 679, ../sass/screen.scss */
  .comment figure {
    width: 8.16327%;
    float: left;
    margin-right: 2.04082%;
    display: inline; }

/* line 685, ../sass/screen.scss */
.comment:after {
  content: "";
  display: block;
  clear: both; }

/* line 691, ../sass/screen.scss */
.information li {
  width: 59.18367%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-bottom: 1em; }
  /* line 694, ../sass/screen.scss */
  .information li span:first-child {
    text-align: right;
    background-color: #FF7600;
    width: 24.13793%;
    float: left;
    margin-right: 3.44828%;
    display: inline;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-right: 0; }
  /* line 703, ../sass/screen.scss */
  .information li span {
    display: inline-block;
    padding: 0.6em; }
  /* line 707, ../sass/screen.scss */
  .information li span:nth-child(2) {
    background-color: #646464;
    color: white;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
    display: inline; }

@media screen and (min-width: 150px) {
  /* line 721, ../sass/screen.scss */
  .container {
    width: 700px; } }
@media screen and (min-width: 991px) {
  /* line 727, ../sass/screen.scss */
  .container {
    width: 941px; } }
@media screen and (min-width: 1232px) {
  /* line 733, ../sass/screen.scss */
  .container {
    width: 1182px; } }
@media screen and (min-width: 1484px) {
  /* line 738, ../sass/screen.scss */
  .container {
    width: 1482px; } }
